<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.jastz.userservice.user.dao.AccountDAO">
    <insert id="save" parameterType="Account" useGeneratedKeys="true" keyProperty="accountId">
        INSERT INTO account(user_name,first_name,last_name)
        VALUES(#{username},#{firstName},#{lastName})
    </insert>
    <update id="updateComplete">
        UPDATE account SET is_complete = #{complete}
        WHERE account_id = #{accountId}
    </update>
    <select id="isComplete" resultType="java.lang.Boolean">
        SELECT is_complete FROM account
        WHERE account_id = #{accountId}
    </select>
    <select id="isPhoneNumberExist" resultType="java.lang.Boolean">
        SELECT count(phone_number)=1 FROM account
        WHERE phone_number = #{phoneNumber}
    </select>
</mapper>